.form-button{
    outline: none;
    color: #111;
    background-color: #FFF;
    width: 150px;
    margin-top: 30px;
}
.form-button:hover{
    background-color: #DDD;
}
.form-button:active{
    background-color: #BBB;
}

button {
    outline: none;
    color: #EEE;
    width: 120%;
    height: 45px;
    font-size: 1.35em;
    text-align: center;
    border: 0px solid #555;
    transition-duration: 0.1s;
    cursor: pointer;
    letter-spacing: 2px;
    user-select: none;
    -moz-user-select: none;
}

button:disabled{
  cursor: default;
}

button:disabled{
	background-color: #CCCC;
}

button:disabled:hover{
	background-color: #DDDD;
}

button a{
	color: inherit;
	text-decoration: inherit;
}


.green-button{
    background-color: #0A0;
}

.green-button:hover{
    background-color: #170;
}

.green-button:active{
    background-color: #250;
}

.blue-button{
    background-color: #00A;
}

.blue-button:hover{
    background-color: #017;
}

.blue-button:active{
    background-color: #025;
}

.red-button{
    background-color: #F00;
}

.red-button:hover{
    background-color: #C10;
}

.red-button:active{
    background-color: #A21;
}


.theme-button{
	background-color: #EE3A3A;
}

.theme-button:hover{
	background-color: #A22;
}

.theme-button:active{
	background-color: #711;
}

.gold-button{
	background-color: #EA4;
}

.gold-button:hover{
	background-color: #C82;
}

.gold-button:active{
	background-color: #B71;
}