.prog-bar{
    background-color: #FFF1;
    color: white;
    width: 600px;
    height: 40px;
    padding: 0px;
    font-size: 22px;
    border: 1px solid #AAA;
    text-align: left;
}

.prog-bar-int{
    background-color: #EE3535;
    height: 100%;
    margin: 0;
    text-align: center;
    overflow: hidden;
    min-width: 5%;
    max-width: 100%;
}

h3{
    line-height: 20px;
    margin: 30px;
    color: black;
}

.prog-bar-int-text{

}

.prog-bar-int-comp{
    background-color: #FFC737;
    max-width: 100% !important;
    text-align: center;
    overflow: hidden;
    margin: 0;
    height: 100%
}