button {
    outline: none;
    color: #EEE;
    width: 120%;
    height: 45px;
    font-size: 1.35em;
    text-align: center;
    border: 0px solid #555;
    transition-duration: 0.1s;
    cursor: pointer;
    letter-spacing: 2px;
    user-select: none;
    -moz-user-select: none;
}

button:disabled{
  cursor: default;
}

button:disabled{
	background-color: #CCCC;
}

button:disabled:hover{
	background-color: #DDDD;
}

button a{
	color: inherit;
	text-decoration: inherit;
}


.green-button{
    background-color: #260D;
}

.green-button:hover{
    background-color: #150E;
}

.green-button:active{
    background-color: #040F;
}

.blue-button{
    background-color: #147D;
}

.blue-button:hover{
    background-color: #036E;
}

.blue-button:active{
    background-color: #024F;
}

.red-button{
    background-color: #721D;
}

.red-button:hover{
    background-color: #6A1111E0;
}

.red-button:active{
    background-color: #500F;
}


.theme-button{
	background-color: #EE3A3A;
}

.theme-button:hover{
	background-color: #CC2A2A;
}

.theme-button:active{
	background-color: #A11;
}

.gold-button{
	background-color: #EA4;
}

.gold-button:hover{
	background-color: #C82;
}

.gold-button:active{
	background-color: #B71;
}