body {
    background-color: #000;
}

#console {
    font-family: Monospace;
    text-align: left;
    margin: 3px 10px;
    color: #FFF;
    display: inline-block;
}
[contenteditable=true]:empty:before {
    content: "\200b";
}


input {
    background-color: #000;
    border: 0;
    color: #FFF;
    outline: none;
    font-family: "Lucida Console";
    font-size: 1.0em;
}

a {
    color: #58D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

entry {
    display: block;
}
