.story, .story-1{
    width: 36%;
    height: 125px;
    max-width: 36%;
    max-height: 125px;
    position: relative;
    transition-duration: 0.3s;
    margin: 30px 4%;
    text-align: left;
    display: inline-block;
    background-image: url("red_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.story-1{
    width: 80%;
    max-width: 80%;
    display: block;
    overflow: hidden;
}

.dark-overlay{
	width: 100%;
	height: 100%;
	background: #111;
	opacity: 0.5;
	position: absolute;
	top: 0%;
	transition-duration: inherit;
}

.story:hover .dark-overlay, .story-1:hover .dark-overlay{
    opacity: 0.75;
}

.title{
    color: #FFF;
    font-size: 50px;
    position: absolute;
    padding: 15px;
    margin-left: 5px;
}

a{
    text-decoration: none;
}