h1{
    color: black;
}
hr{
    position: absolute;
    border: 1px solid #E34;
    width: 0;
    height: 80%;
    top: 10%;
    margin: 0px 0px;
    left: 70%;
}

.big-info{
    left: 0%;
    margin: 0;
    padding: 0;
    line-height: 0px;
    border: 0px solid black;
    font-size: 120%;
    height: auto;
    max-width: 90%;
    display: inline-block;
    margin: 0px 30px;
    text-align: center;
    overflow: hidden;
}
#user{
    margin-left: 50px;
    margin-top: 30px;
}
.bi-group{
    border: 0px solid black;
    width: auto;
    max-width: 69%;
    text-align: center;
    margin-bottom: 25px;
}

.actions{
    display: inline-block;
    position: absolute;
    left: 75%;
    top: 7.5%;
}
button{
    margin-bottom: 20px;
}